@using SteamWebAuthenticator.Helpers
@using SteamWebAuthenticator.Interfaces
@using SteamWebAuthenticator.Models
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@inject IAccountService AccountService
@if (IsVisible)
{
    <div class="modal" style="display: block;">
        <div class="modal-content">
            <div class="modal-header">
                <h5>@Title</h5>
            </div>
            <div class="modal-body">
                <p>@Message</p>
            </div>
            <div class="modal-footer text-center justify-content-center flex-column">
                <label class="btn btn-primary" for="input-file">
                    <i class="icons8-upload"></i> I already setup Steam Desktop Authenticator in another location on this PC and I want to import its account(s).
                </label>
                <InputFile OnChange="OnFilesSelected" id="input-file" multiple webkitdirectory hidden/>
                <button @onclick=Cancel class="btn btn-secondary">This is my first time and I just want to sign into my Steam Account(s).</button>
            </div>
        </div>
    </div>
}