@page "/"
@using SteamWebAuthenticator
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@using SteamWebAuthenticator.Interfaces
@inject IAccountService AccountService
@inject IWebHostEnvironment HostingEnvironment
@if (string.IsNullOrEmpty(AccountService.SelectedAccountName))
{
    <div class="markdown-content">
        @((MarkupString)_readMeContent)
    </div>
}
<Alert @ref="_alert"/>
<FirstVisitDialog IsVisible="@_showFirstVisitDialog"
                  OnChange="HandleAlertChange"
                  Title="Welcome to Steam Web Authenticator" 
                  Message="Select an item to get started:" OnClose="HandleDialogClose" />
<Confirmations />
@code {
    private string _readMeContent = string.Empty;
    private bool _showFirstVisitDialog;
    [Inject]
    private HttpClient? Http { get; set; }
    private Alert _alert = new();

    protected override async Task OnInitializedAsync()
    {
        AccountService.OnChange += StateHasChanged;
        if (Http != null)
        {
            _readMeContent = await File.ReadAllTextAsync(Path.Combine(HostingEnvironment.WebRootPath, "README.md"));
            _readMeContent = Markdig.Markdown.ToHtml(_readMeContent);
        }

        if (!AccountService.GetAccountsList().Any())
        {
            _showFirstVisitDialog = true;
        }
    }

    private async Task HandleAlertChange(bool newValue)
    {
        if (!newValue) return;
        await _alert.ShowAsync(Strings.Success,Messages.AllAccountsImported);
        StateHasChanged();
    }
    
    private void HandleDialogClose(bool result)
    {
        _showFirstVisitDialog = false;
    }
}