@page "/"
@using SteamAuth
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@using SteamWebAuthenticator.Interfaces
@inject IAccountService AccountService
@inject IWebHostEnvironment HostingEnvironment
@if (string.IsNullOrEmpty(AccountService.SelectedAccountName))
{
    <div class="markdown-content">
        @((MarkupString)readMeContent)
    </div>
}
<Alert @ref="alert"/>
<FirstVisitDialog IsVisible="@showFirstVisitDialog"
                  OnChange="HandleAlertChange"
                  Title="Welcome to Steam Web Authenticator" 
                  Message="Select an item to get started:" OnClose="HandleDialogClose" />
<Confirmations />
@code {
    private string readMeContent = string.Empty;
    private bool showFirstVisitDialog;
    [Inject]
    private HttpClient? Http { get; set; }
    private Alert alert = new();

    protected override async Task OnInitializedAsync()
    {
        AccountService.OnChange += StateHasChanged;
        if (Http != null)
        {
            readMeContent = await File.ReadAllTextAsync(Path.Combine(HostingEnvironment.WebRootPath, "README.md"));
            readMeContent = Markdig.Markdown.ToHtml(readMeContent);
        }

        if (!AccountService.GetAccountsList().Any())
        {
            showFirstVisitDialog = true;
        }
    }

    private async Task HandleAlertChange(bool newValue)
    {
        if (!newValue) return;
        await alert.ShowAsync(Strings.Success,Messages.AllAccountsImported);
        StateHasChanged();
    }
    
    private void HandleDialogClose(bool result)
    {
        showFirstVisitDialog = false;
    }
}