<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link href="SteamWebAuth.styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app.css?version=0.1">
    <link rel="icon" type="image/png" href="icon.ico"/>
    <HeadOutlet/>
    <title>Steam Web Authenticator</title>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="Components/Pages/Alert.razor.js"></script>
</body>

</html>