@using SteamAuth
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@using SteamWebAuthenticator.Interfaces
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Steam Authenticator</a>
        
    </div>
</div>
<select @bind="AccountService.SelectedAccountName" class="form-select ps-3 ">
    <option value="">Select an account</option>
    @foreach (var account in _accounts)
    {
    <option value="@account.AccountName">@account.AccountName</option>
    }
</select>

@inject IAccountService AccountService;
@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    private List<SteamGuardAccount> _accounts = [];
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        AccountService.OnChange += StateHasChanged;
        await AccountService.InitializeAsync();
        _accounts = AccountService.GetAccountsList();
        if (_accounts.Count > 0)
        {
            AccountService.SelectedAccountName = _accounts[0].AccountName;
        }
    }
    
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}