@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@using SteamWebAuthenticator.Interfaces
@using SteamWebAuthenticator.Models
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Steam Authenticator</a>
        
    </div>
</div>
<select @bind="AccountService.SelectedAccountName" class="form-select ps-3 ">
    <option value="">Select an account</option>
    @foreach (var account in accounts)
    {
    <option value="@account.Username">@account.Username</option>
    }
</select>

@inject IAccountService AccountService;
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private List<Account> accounts = [];
    
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        AccountService.OnChange += StateHasChanged;
        accounts = AccountService.GetAccountsList();
        if (accounts.Count > 0)
        {
            AccountService.SelectedAccountName = accounts[0].Username;
        }

        return Task.CompletedTask;
    }
    
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}